html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "glorytsiregular";
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 0.3;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

// FlexBox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons

button,
.button {
  position: relative;
  width: 245px;
  height: 61px;
  left: 730px;
  top: 652px;
  margin: 0 15px;
  cursor: pointer;

  color: #11304D !important;
  background: #ffe882;
  border-radius: 15px;
  border: 0;
  

  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
}

//Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
