html {
  min-height: 100vh;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "glorytsiregular";
  background-color: #f6f9fc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #11304d;
}
.header-container {
  position: relative;
  flex-grow: 1;
  max-width: 100%;
  margin: 50px 90px 50px;
  align-items: center;

  border: 8px solid #11304d;
  box-sizing: border-box;
  border-radius: 30px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.page-icon {
  position: absolute;
  right: -59px;
  bottom: -32px;
  max-width: 500px;
}

@media (min-width: 40rem) {
  .page-icon {
    display: none;
  }
}

// FlexBox

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Buttons

button,
.button {
  position: relative;
  width: 270px;
  height: 60px;
  margin: 0 15px;

  cursor: pointer;
  background: #ffe882;
  color: #11304d;
  border-radius: 15px;
  border: 0;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;

  @media (max-width: 92.8125em) {
    margin: 20px 100px;
  }

  @media (max-width: 77.5em) {
    margin: 20px 100px;
  }
}

//Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// Footer

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 30px 50px;
  background-color: $darkBlue;
  ul,
  li {
    list-style-type: none;
  }

  &::before {
    content: "Ajude Colorir - Todos os direitos reservados";
    color: white;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  &_social {
    color: white;

    h2 {
      margin-bottom: 40px;
      font-weight: 300;
      font-size: 20px;
    }

    a {
      margin: 0 18px;
      margin-top: 76px;
    }
  }

  &_links {
    display: flex;
    flex-direction: column;
    line-height: 2.25;

    a {
      color: white;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

//header

.header {
  nav {
    padding: 10px 50px;
  }
  &_logo {
    h1 {
      font-weight: 700;
    }
  }

  &_menu {
    //Mobile Menu

    > span {
      display: block;
      width: 26px;
      height: 2px;
      color: black;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &_links {
    a {
      color: #11304d;
      font-size: 18px;
      line-height: 32px;
      font-weight: 600;
      transition: 0.5s;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &:hover {
        color: rgb(116, 116, 117);
      }
    }

    .linha {
      border: 1px solid #5e5e5e;
      transform: rotate(-90.6deg);
    }
  }

  &_cta {
    font-size: $font-med;
    color: $darkBlue;
  }
}
