.hero {
  width: 100%;
  height: 92.4vh;

  background-size: cover;
  background-position: center;

  .banner {
    
    width: 730px;
    padding-left: 7px;
  }
  h1 {
    position: absolute;
    left: 880.24px;
    top: 165.86px;
    font-size: 100px;
    color: $darkBlue;
  }

  p {
    position: absolute;
    width: 585.52px;
    height: 250.3px;
    left: 830.48px;
    top: 335.83px;
    font-size: 44px;
    line-height: 56px;
    color: $darkBlue;
  }
}
