.hero {
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  padding: 0 30px;
  div {
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;

    @media (max-width: 77.5em) {
      align-items: center;
    }
  }

  .banner {
    flex: 1;
    max-width: 900px;
    min-width: 500px;
    padding-left: 7px;
    margin: 0 auto;
    @media (max-width: 77.5em) {
      display: none;
    }
    
  }
  h1 {
    font-size: 100px;
    color: $darkBlue;
  }

  p {
    font-size: 44px;
    line-height: 56px;
    color: $darkBlue;

    @media (max-width: 77.5em) {
      text-align: center;
    }
  }
  .buttons {
    display: inline-block;

    @media (max-width: 87em) {
      display: flex;
    }
  }
}
