.quotes{
    padding: 0 50px;
}

.link-buttons{
    margin: 50px 0;

    display: flex;
    column-gap: 50px;
    justify-content: center;

    a{
        margin: 0;
        width: 200px;
        padding: 20px;
        text-align: center;
    }
}