h1{
    font-size: 2.25rem;
}

.button-meus-pedidos{
    margin-bottom: 20px;
    .button-detalhe-1{
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: #FFE882;
        width: 422px;
        transition: .4s;

        &:hover{
            color: #ffffff;
        }
    }
}