.main-pedidos {
  h1 {
    text-align: center;
    font-size: 2rem;
  }

  .button-adicionar {
    align-items: center;
    margin: 0 10px 0;
    justify-content: center;
    display: flex;
  }

  .button-novo-pedido {
    margin: 0 150px 0;
    cursor: pointer;
  }
}

.icon-input-container {
  max-width: 770px;  
}

.pedidos-img {
  position: absolute;
  left: -70px;
  bottom: -40px;
  max-width: 500px;
}
