html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "glorytsiregular";
  background-color: #f6f9fc;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.header-container {
  max-width: 100%;
  margin: 50px 90px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 8px solid #11304d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  position: relative;
  width: 245px;
  height: 60px;
  margin: 0 15px;
  cursor: pointer;
  background: #ffe882;
  color: #11304d;
  border-radius: 15px;
  border: 0;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
}

@media (max-width: 62.5em) {
  button,
  .button {
    display: inline-block;
  }
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #11304D;
}

.footer ul,
.footer li {
  list-style-type: none;
}

.footer_social {
  display: block;
  float: right;
  margin-right: 243px;
  margin-top: 30px;
  color: white;
}

.footer_social h2 {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 20px;
}

.footer_social a {
  margin: 0 18px;
  margin-top: 76px;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2.25;
}

.footer_links a {
  color: white;
  font-size: 14px;
  line-height: 25px;
  margin-left: 240px;
}

.header nav {
  padding: 10px 50px;
}

.header_logo h1 {
  font-weight: 700;
}

.header_menu > span {
  display: block;
  width: 26px;
  height: 2px;
  color: black;
}

.header_menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header_links a {
  color: #11304d;
  font-size: 18px;
  line-height: 32px;
  font-weight: 600;
}

.header_links a:not(:last-child) {
  margin-right: 32px;
}

.header_links .linha {
  border: 1px solid #5e5e5e;
  -webkit-transform: rotate(-90.6deg);
          transform: rotate(-90.6deg);
}

.header_cta {
  font-size: 1.125rem;
  color: #11304D;
}

form {
  margin: 0 auto;
  padding: 45px 25px;
  width: 600px;
  max-width: 600px;
}

legend,
label {
  display: block;
  color: #11304d;
  font-weight: bold;
}

legend {
  font-size: 36px;
  text-align: center;
}

label {
  font-size: 16px;
  margin: 10px 0 3px;
}

input {
  width: 100%;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #6ddfdf;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.pass-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding-right: 12px;
  border: 1px solid #6ddfdf;
}

.pass-container input {
  border: none;
}

.pass-container img {
  cursor: pointer;
}

button {
  display: block;
  margin: 70px auto 20px;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 18px;
  color: #11304d;
  border-radius: 15px;
  background: #6ddfdf;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover {
  background-color: #3fd6d6;
  color: white;
}

.link {
  display: block;
  font-size: 16px;
  color: #11304d;
  text-align: center;
  text-decoration: underline;
}

@media (min-width: 1440px) {
  form {
    padding: 40px 20px;
    border-radius: 28px;
    background: #efeeea;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  input {
    background-color: transparent;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  padding: 0 30px;
}

.hero div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
}

@media (max-width: 67em) {
  .hero div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero .banner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 900px;
  min-width: 500px;
  padding-left: 7px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 100px;
  color: #11304D;
}

.hero p {
  font-size: 44px;
  line-height: 56px;
  color: #11304D;
}

@media (max-width: 62.5em) {
  .hero p {
    text-align: center;
  }
}

.hero .buttons {
  display: inline-block;
}

@media (max-width: 87em) {
  .hero .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on March 30, 2021 */
@font-face {
  font-family: 'glorytsiregular';
  src: url("../fonts/glorytsi-regular-webfont.woff2") format("woff2"), url("../fonts/glorytsi-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'estedadregular';
  src: url("../fonts/estedad-regular-webfont.woff2") format("woff2"), url("../fonts/estedad-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  margin: 0 auto;
  color: #11304D;
  margin: 100px 50px 50px;
}

.wrapper .image-faq {
  margin-right: 20px;
}

.wrapper .lista-item {
  background: white;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 0 3px 6px rgba(50, 50, 90, 0.3);
          box-shadow: 0 3px 6px rgba(50, 50, 90, 0.3);
}

.wrapper .faq-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 3px;
  font-size: 3em;
  font-family: monospace;
  color: #11304D;
}

.wrapper .faq-titulo::after {
  content: "+";
  margin-left: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.wrapper .faq-conteudo {
  padding: 30px;
  color: #6b7c93;
  font-family: Helvetica;
  font-size: 2em;
  line-height: 1.4em;
  display: none;
}

.wrapper .image-faq {
  max-width: 35px;
}

.wrapper .trigger-input {
  display: none;
}

.wrapper .trigger-input:checked + .trigger-wrapper .faq-conteudo {
  display: block;
}

.wrapper .trigger-input:checked + .trigger-wrapper .faq-titulo::after {
  -webkit-transform: rotate(45deg) scale(1.08);
          transform: rotate(45deg) scale(1.08);
}

@media (max-width: 62.5em) {
  .wrapper {
    padding: 0 50px;
  }
}
/*# sourceMappingURL=style.css.map */