#mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  place-items: center;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease-in;
  background: rgba(255, 255, 255, 0.6);
}

#mask.active {
  opacity: 1;
  pointer-events: all;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;

  border-radius: 10px;
  background: #efeeea;
  padding: 70px 50px 25px;
}

.popup img {
  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

.popup * {
  color: #11304d;
}

.popup h2 {
  margin: 0;
  font-size: 36px;
}

.popup p {
  font-size: 18px;
  text-align: center;
}

.popup a {
  display: block;
  font-size: 16px;

  margin-top: 30px;
  padding: 20px 60px;
  text-align: center;

  cursor: pointer;
  border-radius: 10px;
  background: #6fcf97;
  text-decoration: none;
}
